<div class="container text-center boddie">
  <div class="cardy">
    <p><%= @question %></p>
    <i>- You</i>
  </div>
  <div class="cardy">
    <p><%= @answer %></p>
    <i>- Your Coach</i>
  </div>
  <%= link_to "Ask again", ask_path %>
</div>
